<div class="table-options">
  <div class="item-counter">
    <p class="text">items per page:</p>
      <select class="dropdown" [formControl]="itemsControl">
        <option class="dropdown-counter" *ngFor="let dropDown of dropDownList">{{dropDown}}</option>
      </select>
  </div>
  <div class="pagination">
    <p class="text">Page {{currentPage}} of {{allPages}}</p>
    <div class="arrows">
      <div class="start" (click)="firstPage()">
        <div class="stick"></div>
        <div class="arrow"></div>
      </div>
      <div class="left" (click)="previousPage()">
        <div class="arrow"></div>
      </div>
      <div class="right" (click)="nextPage()">
        <div class="arrow"></div>
      </div>
      <div class="end" (click)="lastPage()">
        <div class="arrow"></div>
        <div class="stick"></div>
      </div>
    </div>
  </div>
</div>

<div class="table">
  <table>
    <thead>
    <tr>
      <th *ngFor="let header of headerList">
        <app-header [head]="header.head" [sortedState]="header.sortedState" (headStateChange)="sort($event)"></app-header>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <th>{{post.id}}</th>
      <th>{{post.title}}</th>
      <th>{{post.body}}</th>
    </tr>
    </tbody>
  </table>
</div>
