<app-pagination [arrayLength]="posts.length" (paginationChange)="sliceList($event)"></app-pagination>
<div class="table">
  <table>
    <thead>
    <tr>
      <th *ngFor="let header of headerList">
        <app-header [head]="header.head" [sortedState]="header.sortedState" (headStateChange)="sort($event)"></app-header>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of displayedPosts">
      <th>{{post.id}}</th>
      <th>{{post.title}}</th>
      <th>{{post.body}}</th>
    </tr>
    </tbody>
  </table>
</div>
