<div class="color-picker">
  <div class="color-picker-body">
    <p class="text">Choose your color:</p>

    <div>
        <p #arrow tabindex="0" class="arrow" [ngClass]="{focus: isShowDropDown}" (click)="changeDropDownState()"></p>

      <div #dropDownList class="color-list" *ngIf="isShowDropDown">
        <app-drop-down-list [colorList]="colorList" (selectedColor)="addColor($event)"></app-drop-down-list>
      </div>
    </div>

    <p class="color" [ngStyle]="{backgroundColor: color}"></p>
  </div>
</div>
