@mixin up {
  border-bottom: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-bottom: 2px;
}

@mixin down {
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.title {
  display: flex;
  justify-content: center;
  cursor: pointer;

  .title-text {
    margin-right: 5px;
  }

  .arrow {
    display: flex;
    align-items: center;

    .default {
      .up {
        @include up;
      }

      .down {
        @include down;
      }
    }

    .up {
      @include up;
    }

    .down {
      @include down;
    }
  }
}
