<div class="table-options">
  <div class="item-counter">
    <p class="text">items per page:</p>
    <select class="dropdown" [formControl]="itemsControl">
      <option class="dropdown-counter" *ngFor="let dropDown of dropDownList">{{dropDown}}</option>
    </select>
  </div>
  <div class="pagination">
    <p class="text">Page {{currentPage}} of {{allPages}}</p>
    <div class="arrows">
      <button class="start" [disabled]="isDisabledFirstPage" (click)="firstPage()">
        <div class="stick first-stick"></div>
        <div class="arrow"></div>
      </button>
      <button class="left" [disabled]="isDisabledFirstPage" (click)="previousPage()">
        <div class="arrow"></div>
      </button>
      <button class="right" [disabled]="isDisabledLastPage" (click)="nextPage()">
        <div class="arrow"></div>
      </button>
      <button class="end" [disabled]="isDisabledLastPage" (click)="lastPage()">
        <div class="arrow"></div>
        <div class="stick"></div>
      </button>
    </div>
  </div>
</div>
