@mixin arrow {
  margin-left: 4px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  cursor: pointer;
}

.table-options {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 0 10px 0;

  .item-counter {
    display: flex;
    align-items: center;
    padding: 10px;

    .dropdown {
      margin: 0 0 0 5px;
      padding: 5px;
      border: 1px solid black;
      border-radius: 4px;

      .dropdown-counter {
        cursor: pointer;
      }
    }
  }

  .pagination {
    display: flex;
    margin-left: 30px;

    .arrows {
      display: flex;

      .start {
        display: flex;
        align-items: center;
        cursor: pointer;

        .stick {
          border: solid black;
          border-width: 0 2px 0 0;
          display: inline-block;
          padding: 7px;
        }

        .arrow {
          @include arrow;
        }
      }

      .left {
        .arrow {
          @include arrow;
          margin-left: 20px;
        }
      }

      .right {
        .arrow {
          @include arrow;
          margin-left: 20px;
          transform: rotate(315deg);
        }
      }

      .end {
        display: flex;
        align-items: center;
        margin-left: 20px;
        cursor: pointer;

        .stick {
          border: solid black;
          border-width: 0 0 0 2px;
          display: inline-block;
          padding: 7px;
        }

        .arrow {
          @include arrow;
          margin-right: 4px;
          transform: rotate(315deg);
        }
      }
    }
  }
}
