<div class="inputs" [formGroup]="coordinateForm">

  <div class="fields">
    <div class="lat-input">
      <p class="text">Latitude:</p>
      <input #latInput type="text" formControlName="latitude">
    </div>

    <div class="lon-input">
      <p class="text">Longitude:</p>
      <input type="text" formControlName="longitude">
    </div>
  </div>

  <button class="submit" (click)="addMarker()">Add Marker</button>
</div>

<div class="map-wrapper">
  <div class="map-border">
    <div id="map"></div>
  </div>
</div>
